@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap");

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color:rgb(237, 241, 245);
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    
}

header {
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: sticky;
    top: 1px;
    transition: 1s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    justify-content: space-around;
    padding-left: 30px;
}

nav li.logo {
    float: left;
}

.logo>a {
    font-size: 2rem;
    font-weight: 900;
    font-family: "Recursive", sans-serif;
    color: rgb(61, 180, 242);


}

nav li a {
    display: flex;
    color: #222;

    padding: 14px 16px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.err{
    font-family: "Overpass", sans-serif;

    font-size: 1rem;
    font-weight: 900;
    margin-top: 10px;
    padding-top: 20px;
}
.err:hover {
    background-color: rgb(61, 180, 242);
    border-radius: 10px 20px;
}

main {
    text-align: center;
}

.central-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.central-image img {
    width: 50%;
    height: auto;
}

#car-details {
    margin-top: 20px;
}

#car-details h2,
#car-details p {
    margin-bottom: 30px;
}

.h-box {
    background: #1e90ff;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.h-box-empty{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.h-box:hover,
.h-box:focus,
.h-box:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    padding: 20px;
    text-align: center;
    color: #222;
}

#f-btn {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    background-color: #1e90ff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#f-btn:hover,
#f-btn:focus,
#f-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}